<span style="font-size: 18pt;"><strong>Olá {{ student }}</strong></span><br />

<p>Sua pergunta foi respondida<br />

    <span>Você perguntou: {{ question }}</span><br /><br />
    <span>Resposta: <strong>{{ answer }}</strong></span><br />
    <small>Sua pergunta foi respondida em {{ answer_at }} </small><br />
</p>
